body {
  background-color: #333;
  font-family: sans-serif;
  line-height: 1.8rem;
  padding: 1rem;
  color: #ffc;
  font-size: 1.2rem;
}

main {
  padding: 1rem;
}

h1 {
  color: #afa;
}

a {
  color: #aaf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main h1 {
  font-style: italic;
  color: #eee;
}
